<div class="containor">
<div class="col-md-6 m-5">
  <h2 class="text-center">Add Product</h2>
<form action="/admin/add-product" method="POST" enctype="multipart/form-data">
<div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" name="name" placeholder="">
</div>
<div class="mb-3">
  <label for="Catrgory" class="form-label">Category</label>
  <input type="text" class="form-control" name="Category" placeholder="">
</div>
<div class="mb-3">
  <label for="description" class="form-label">Description</label>
  <input type="text" class="form-control" name="discription" placeholder="">
</div>
<div class="mb-3">
  <label for="price" class="form-label">Price</label>
  <input type="text" class="form-control" name="price" placeholder="">
</div>
<div class="mb-3">
  <label for="image" class="form-label">Image</label>
  <input type="file" class="form-control" name="image" placeholder="">
</div>
<div class="mb-3">
    <button type="submit" class="btn btn-success">Submit</button>
</div>
</form>
</div>
</div>